<!-- <p>Find me in app/views/questions/ask.html.erb</p> -->
<div class="container">
<h1>Question Time....</h1>
  <form action="/answer" method="get">
    <input type="text" name="input" placeholder="Ask your coach anything">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>

</div>
